apps:
  - script : reqKick.app.js
    name   : shippable-reqKick@{{UUID}}.service
    env    :
      STATUS_DIR: {{STATUS_DIR}}
      SCRIPTS_DIR: {{SCRIPTS_DIR}}
      REQEXEC_BIN_PATH: {{REQEXEC_BIN_PATH}}
      
    error_file: {{REQKICK_DIR}}/reqKick_{{UUID}}.err
    out_file: {{REQKICK_DIR}}/reqKick_{{UUID}}.out
    pid_file: {{REQKICK_DIR}}/reqKick_{{UUID}}.pid
